@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.btn {
    text-transform: uppercase;
    padding: 12px 28px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 25px;
    border: 0.5px solid #22222252;
    background: #fff;
    color: #222;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}
.btn:hover {
    background: rgb(97, 97, 97);
    color: white;
}
                                        /* RUN PART */
.run-part {
    border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}
.run-container {
    display: grid;
    grid-template-columns: 1Fr 1fr;
    height: 100vh;
}
.run-left {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: flex-start;      
    height: 100%;
    padding-left: 60px; 
    padding-right: 60px;      
    gap: 25px;                  
}
.run-left h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}
.run-left p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 2;
}
.run-right, .run-img {
    height: 100%;
    width: 100%;
}
.run-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% center;
}
                                        /* MAGNA PART */
.magna-part {
    border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}
.magna-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 60vh;
}
.magna-img {
    height: 100%;
    width: 100%;
}
.magna-img img {
    width: 100%;
    height: 100%;
}
.magna-right {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: flex-start;      
    height: 100%;
    padding-left: 60px; 
    padding-right: 60px;      
    gap: 25px;                  
}
.magna-right h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
}
.magna-right p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 2;
    text-align: justify;
}
                                        /* TEMPUS PART */
.tempus-part {
    border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}
.tempus-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 60vh;
}
.tempus-left {
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: flex-start;      
    height: 100%;
    padding-left: 60px; 
    padding-right: 60px;      
    gap: 25px;                  
}
.tempus-left h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
}
.tempus-left p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 2;
    text-align: justify;
}
.tempus-right {
    overflow: hidden;
}
.tempus-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.tempus-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
                                        /* FORM PART */
.form-part::after{
    content: "";
    display: block;
    width: 90%;
    height: 0.5px;
    background-color: rgba(128, 128, 128, 0.295);
    margin: auto;
}
.form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form-title {
  text-align: center;
  font-size: 1.2rem;
}
.form-title h2 {
  font-weight: 500;
  margin-bottom: 8px;
}
.form-row {
  display: flex;
  gap: 24px;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.form-group label {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
}
.form-group input,
.form-group textarea {
  padding: 12px 14px;
  border: 0.5px solid #22222252;
  border-radius: 10px;
  font-size: 1rem;
  transition: border 0.2s;
  resize: none;
}
.form-group input:focus,
.form-group textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.418);
  outline: none;
}
.form-message {
  width: 100%;
}
.form-message textarea {
  min-height: 200px;
  max-width: 100%;
}
.form-button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 15px;
}
.form-button .btn {
  min-width: 180px;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 25px;
  padding: 15px 0;
  letter-spacing: 1px;
}
                                        /* FOOTER */
footer {
    padding: 5% 35%;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.icons li {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    
}
.icons li:hover {
    transform: scale(1.5);

}
                                        /* RESPONSIVE */
@media (max-width: 900px) {
    footer {
    padding: 5% 25%;
    }
}
@media (max-width: 800px) {
    .magna-right {
        padding-left: 15px;
        padding-right: 15px;
    }
    .magna-left {
        display: none;
        
    }
    .magna-container {
        display: block;
    }
}
@media (max-width: 720px) {
    .tempus-left {
        padding-left: 15px;
        padding-right: 15px;
    }
    .tempus-right {
        display: none;
        
    }
    .tempus-container {
        display: block;
    }
    .run-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
    }
    .run-left,
    .run-right,
    .run-img {
        height: 50vh;
    }
    .run-left {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 550px) {
    footer {
    padding: 5% 20%;
    }
}